## AniList
GRAPHQL_ENDPOINT=https://graphql.anilist.co
ANILIST_CLIENT_ID=17624
ANILIST_CLIENT_SECRET=2ktA96Hn1zSQaOX5VfBl971S9s2J9UXmB7vQgbLg

## In AniList Developer console add redirect url :
# https://{your-domain}/api/auth/callback/AniListProvider
